.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#site_header {
	position: fixed;
	background-color: white;
	padding: 0px;
	margin: 0;
	top: 0;
	left: 0;
	width: 1080px;
	height: 76px;	
}

#name {
	position: relative;
	left: 120px;
	top: 0;
	color: white;
	background-color: #4aaaa5;
	font-size: 36px;
	text-align: left;
	vertical-align: center;
	padding: 20px;
	width: 200px;
	float: left;
}

#right_header {
	position: absolute;
	right:0;
}

#about {
	position: absolute;
	right:264px;
	border-right: 2px;
	border-color:#777777;
	top: 0;
	color: #777777;
	width: 80px;
	font-size: 24px;
	padding: 26px;
	vertical-align: center;
	background-color: white;
	text-align: center;
}

#portfolio {
	position: absolute;
	right:132px;
	top: 0;
	color: #777777;
	width: 80px;
	font-size: 24px;
	padding: 26px;
	vertical-align: center;
	background-color: white;
	text-align: center;
}

#contact {
	position: absolute;
	right:0;
	top: 0;
	color: #777777;
	width: 80px;
	font-size: 24px;
	padding: 26px;
	vertical-align: center;
	text-align: center;
}

#main_content {
	position: absolute;
	top:76px;
	left: 120px;
	clear: both;
	width: 960px;
	margin-top: 40px;
	float: left;
}

#paragraph_wrapper {
	width: 650px;

}

#main_right{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 270px;
}

h2{
	color: #4aaaa5;
	background-color: white;
	font-size: 36px;
	text-align: left;
	vertical-align: center;
	padding-top: : 20px;
	padding-bottom: 20px;
}